.para{
    font-size: 20px;
    font-family: 'Cuprum', sans-serif;

} 
.h2{
    font-family: 'Cuprum', sans-serif;
     justify-content: center;
     display: flex;    
}

.img-tag {
    margin-left: 30%;
    border-radius: 40px;
    height: 200px;
}

@media (max-width: 520px){
    .para{
        margin-left: 1px;
        font-size: 15px;
    }
    .h2{
        padding-left: 1px;
        font-size: 25px;    
    }

    .img-tag{
        margin-left: 27%;
        border-radius: 50px;
        height: 150px;
    }
}

/* .contact-list {
    text-align: center;
    margin-left: 800px;
    margin-top: 100px;
} */

.banner-contact {
    background-color: gray;
  opacity:.8;
  width:75%;
  margin: 300px;
  padding-top: 50px;
  border-radius: 10px;
  height: 60%;
  border: solid 8px white;
}