.h4{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 
    
}
    
 .head{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
    
 }   


.div{
  
    margin: 5% 20% 30% 20%;
        
}

@media(max-width: 500px){
    .div{
       margin: 5% 6% 30% 5%;
    }

    .head{
        font-size: 30px;
    }
}
.h3 {
    font-size: 30px;
    line-height:200% ;
}